* {
  line-height: 0.3rem;
}

.widg1 {
  padding: 1.5rem 0 7rem;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background: url(/src/images/triangle.webp);
}
.comp1 {
  text-align: center;
}
.comp1 h2 {
  font-size: 3rem;
  font-family: 100;
}
.comp1 span {
  color: #36c0df;
}
.comp2 {
  text-align: center;
  font-size: 0.9rem;
}
.comp22 {
  margin: 2rem 0;
}

.comp3 {
  text-align: center;
}
.comp3 a {
  border: 1px solid #1f1d1d;
  background: #1f1d1d;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}
.comp3 a:hover {
  color: #36c0df;
}
.comp4 {
  margin: 3.8rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.comp4 > div {
  margin: 0rem 1rem;
}
.numbers {
  font-size: 1.7rem;
  color: #36c0df;
}
.comp5 {
  background-color: #fff;
  padding: 2rem 1rem;
  margin: 0 auto;
  width: 65%;
  border-radius: 0.6rem;
}
.comp5 h3 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.comp5 form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.comp5 form input {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}
.input-container {
  position: relative;
  display: inline-block;
}
.input-container span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.input-container input[type="button"] {
  border: 1px solid #1f1d1d;
  background-color: #1f1d1d;
  padding: 1.1rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}
.input-container input[type="button"]:hover {
  color: #36c0df;

  cursor: pointer;
}
.widg2 {
  margin: 2rem 2.5rem;
}
.comp6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comp6 h2 {
  font-size: 2.2rem;
}
.comp6 a {
  text-decoration: none;
  color: #1f1d1d;
}
.comp6 a:hover {
  color: #36c0df;
  transition: 0.3s ease-in-out;
}
.comp7 {
  background: #e3e9e9;
  border-radius: 0.6rem;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.img-1 {
  width: 250px;
  height: 200px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.img-1:hover {
  transform: scale(1.1);
}
.subcom1 {
  background: #fff;
  padding: 2rem;
  border-radius: 0.7rem;
  margin: 1rem;
}
.subcom1 > h2 {
  font-size: 1.5rem;
}
.subsubcom1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subsubcom2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subsubcom2 a {
  text-decoration: none;
  color: #1f1d1d;
  padding: 0.8rem 0.5rem;
  border: 1px solid #1f1d1d;
  background: transparent;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}
.subsubcom2 a:hover {
  background: #1f1d1d;
  color: #fff;
}
