.container {
  /* background-color: blue; */
  padding: 0.2rem 2.5rem;
  /* padding-top: 1rem; */
  /* margin-bottom: -40px; */
  background: url(../images/webb.png);
}
.con {
  background: rgb(215, 226, 226);
  padding: 0.2rem 2.5rem;
}
.first-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.first-sec a {
  text-decoration: none;
  color: #242424;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.logo-link {
  font-size: 2rem;
}
.logo-link span {
  color: #36c0df;
}
.nav-link * {
  margin: 1rem;
}

.nav-link a:hover {
  color: #36c0df;
  transition: 0.3s ease-out;
}
.signup-link a:first-child {
  background: linear-gradient(to right, #1f1d1d, #837d79);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid rgb(15, 15, 15);
  color: #fff;
  transition: 0.3s ease-out;
}
.signup-link a:last-child {
  margin-left: 1rem;
  transition: 0.3s ease-out;
  font-size: 1.2rem;
  text-decoration: dashed;
}

.signup-link a:hover {
  color: #36c0df;
}
a.active {
  color: #36c0df;
  font-weight: bold;
  border-bottom: 2.8px solid #36c0df;
  border-bottom-right-radius: 4px;
}
